<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esi.easyorder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activites.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activites.RegisterActivity" />

        <service android:name=".services.ServerService" />

        <activity android:name=".activites.MenuActivity" />
        <activity android:name=".activites.SectionActivity" />
        <activity android:name=".activites.CategoryActivity" />
        <activity android:name=".activites.ItemActivity" />
        <activity android:name=".activites.CartActivity" />
        <activity android:name=".activites.SettingsActivity" />
        <activity android:name=".activites.ViewOrderActivity" />
        <activity android:name=".activites.MerchantActivity" />
        <activity android:name=".activites.ShopTypeActivity" />
        <activity android:name=".activites.ShopsActivity"></activity>
    </application>

</manifest>